body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  margin: 5px;
  background-color: #030508;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
}