.id-card {
  width: 320px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0047AB, #041419, #ac3030);
  padding: 20px;
  color: white;
  position: relative;
}

.header {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile-section {
  margin: 15px 0;
}

.profile-pic {
    width: 50px;  
    height: 50px; 
    border-radius: 10%;
    object-fit: cover; 
    display: block;
  }
  

.info h2 {
  font-size: 20px;
  margin: 5px 0;
  font-weight: bold;
}

.info h3 {
  color: #FFD700;
  font-size: 16px;
  margin: 5px 0;
  font-weight: normal;
}

.info p {
  font-size: 14px;
  margin: 6px 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
  width: 80%;
}

.id-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, #12100a, #0c0802);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}